.forgot-form {
    display: flex;
    flex-direction: column;
    max-width: 420px;
    margin: 0 auto;

    border: 2px solid black;
    border-radius: 15px;
    padding: 20px;
    margin-top: 5%;
    margin-bottom: 50px;
}

h2 {
    text-align: center;
}

div {
    height: 90px;
}

.response {
    display: flex;
    justify-content: center;
    text-align: center;
    height: initial;
    font-size: var(--fs-sm);
    margin-bottom: 5px;
}

.success {
    color: green;
}

.error {
    color: var(--color-danger);
}

.btn {
    margin: 0 auto;
}